// hidden inline form
div#inline
	h2 Send us a Message
	form(id="contact" name="contact" action="#" method="post")
		label(for="email")Your E-mail
		input(type="email" id="email" name="email" class="txt")
		<br/>
		label(for="msg") Enter a Message
		textarea(id="msg" name="msg" class="txtarea")		
		button(id="send") Send E-mail
