#inline
  h2.profe__form Dame tu correo y te envío un do para que lo imprimas y lo presentes formalmente al sostenedor.
  form(id="contact", name="contact", action="#", method="post")   
  .flex__form
    input(type="text", name="nombre", placeholder="Nombre", class="txt")  
    input(type="email" id="email" name="email" class="txt" placeholder="Correo")
    button(id="send") Envialo
  h2.jefe__form ¿Eres tú quien toma las desiciones? <br/>
    span Agenda una visita ahora, no te decepcionaremos y todo tu equipo docente te lo agradecerá. 
  .flex__form__jefe
    input(type="text", name="nombre", placeholder="Nombre", class="txt")  
    input(type="email" id="email" name="email" class="txt" placeholder="Correo")
  .flex__form__jefe
    input(type="text", name="establecimiento", placeholder="establecimiento", class="txt")  
    input(type="text" id="direccion" name="direccion" class="txt" placeholder="Correo")
  .flex__form
    button(id="send", class="jefe__bottom") Envialo
                