head 
	meta(charset="UTF-8")
	title Master Class
	link(href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css', rel='stylesheet', type='text/css')
	link(href='style.css', rel='stylesheet', type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,900', rel='stylesheet', type='text/css')
	link(rel="stylesheet", type="text/css" media="all", href="fancybox/jquery.fancybox.css")
	script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
	script(type="text/javascript", src="fancybox/jquery.fancybox.js?v=2.0.6")
	