
body 
	font-family 'Roboto', arial, sans-serif
	
nav 
	text-align right	
	color white
	position absolute
	width 100vw
	li
		display inline-block
		margin-right 1em		

header	
	background  url('img/masterclass__cover.jpg') 63% bottom
	height 100vh	
	h1
		display none
	h2 
		font-size 4em
		font-weight 100		
	img 
		max-width 24%
.description
	font-size 1.7em
	font-weight 300
	
.header
	max-width 880px	
.darkblue 
	text-align center
	color white	
	display flex
	align-items center
	justify-content center
	background-color rgba(0, 3, 60, 0.59)
	width 100%
	height 100%	
.cta
	background linear-gradient(to bottom, #ff5300 0%,#ff8300 100%)
	color white
	padding 12px 30px
	border-radius 7px
	text-decoration none
.login
	color #00abfc
.beneficios
	figure
		oveflow hidden
		width 30vw
		img
			max-width 600px
.plan__curricular
	background #004491
	height 100vh
	padding 3% 0 0 10%
	color white
	figure
		float right
	h2
		font-weight 100
		width 70vw
		
	p	
		
		width 70vw
	
	